html
{
    background: url('image/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1
{
    text-align: center;
    font-family: "Segoe Black";
    font-size: 50px;
    color: #2edfff;
    text-shadow: 0 0 10px #000000;
}
div.h1{
    margin: 0 auto;
    width: 1000px;
}
div.header
{
    margin: 0 auto;
    width: 1000px;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #5171b7;
    border-bottom-style: outset;
    background: #5171b7;
}
div.main
{
    background: #a7cfff;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 1000px;
    border-radius: 0 0 10px 10px;
}
div.columns
{
    margin: 10px auto;
    width: 900px;
    height: 314px;
    border: 3px groove black;
}
div.columnImage
{
    float: left;
    margin: 6px 6px;
    width: 200px;
    height: 300px;
    border: 1px groove black;
}
div.columnName
{
    font-size: 25px;
    font-family: 'Comic Sans MS', cursive;
    font-weight: bolder;

    float: left;
    margin: 6px 10px;
    width: 650px;
    height: 30px;
}
div.columnDescription
{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

    float: left;
    margin: 6px 10px;
    width: 650px;
    height: 65%;
}
div.columnBuy
{
    float: left;
    margin: 6px 10px;
    width: 120px;
    height: 40px;
}
div.columnComment
{
    float: right;
    margin: 6px 15px;
    width: 40px;
    height: 40px;
}
div.comments
{
    margin: 0 auto;
    width: 600px;
}
div.commentName
{
    border-radius: 10px 10px 10px 10px;
    font-family: 'Comic Sans MS', cursive;
    border: outset;
    border-color: rgb(63, 92, 149);
    color: #1fb0ff;
    background: #263353;
    padding: 3px 0 4px 15px;
}
div.commentText
{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 5px 10px 10px 30px;
}
div.addComment0
{
    margin: 10px auto;
    width: 600px;
    height: 80px;
    border: outset;
    border-color: rgba(140, 171, 201, 0.38);
    background: rgba(140, 171, 201, 0.38);
}
div.addComment1
{
    color: #00195f;
    text-shadow: 0 0 10px #4860ff;
    font-size: 20px;
    font-family: "Segoe Black";
    float: left;
    margin: 15px 10px 15px 15px;
    width: 50px;
}
div.addComment2
{
    float: left;
    margin: 10px;
    height: 50px;
    width: 430px;
    padding: 5px;
}
div.addComment3
{
    float: left;
    margin: 10px 10px 10px -10px;
    width: 55px;
    height: 50px;
    padding: 5px;
}
div.enter
{
    color: white;
    margin: 10px auto;
    width: 270px;
    height: 200px;
    border-color: #00f600 #ff0232 #314aff #feff1c;
    border-style: solid;
    border-width: 4px;
    background-image: url('image/back-login1.jpg');
    background-repeat: round;
}
div.names
{
    margin-left: 15px;
    float: left;
    width: 80px;
    height: 120px;
}
div.fields
{
    float: left;
    width: 157px;
    height: 120px;
}
div.distance
{
    height: 30px;
}
div.button
{
    float: right;
    height: 30px;
}
div.link
{
    float: left;
    margin: 7px 13px;
}
div.in
{
    float: right;
    margin: 7px;
}
div.error
{
    color: #ae0000;
    font-size: 20px;
    font-family: "Segoe Black";
}
div.exampleText
{
    font-family: "Segoe Black";
    font-size: 20px;
    text-shadow: 0 0 4px #5146ff;

    margin: 0 auto;
    width: 600px;
}
div.username
{
    color: #00195f;
    text-shadow: 0 0 10px #4860ff;
    font-size: 20px;
    font-family: "Segoe Black";
}
a
{
    text-decoration: none;
    color: White;
    font-size: 20px;
    font-family: "Segoe Black";
}